<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        th {{"{"}}background:lightblue; padding: 1px 5px 1px 5px;{{"}"}}
        td {{"{"}}background:lightgrey; padding: 1px 5px 1px 5px; text-align: left;{{"}"}}
    </style>
<title>{{title}}</title>
</head>
<body>
<h2>{{title}}</h2>
<p>{{run[1]}}</p>
<table>
<tr>{% for t in titles %}<th>{{t}}</th>{% endfor %}</tr>
{%- for row in rows %}
<tr>{% for d in row %}<td{{' style="text-align:right;"' if d is number else ''}}>{% if d is none %}{% elif d is number %}{{d|replace('.', dec_sep)}}{% else %}{{d}}{% endif %}</td>{% endfor %}</tr>
{%- endfor %}
</table>
</body>
</html>
